[Unit]
Description=ez_jukebox Notification and Infobox Daemon
After=mpd.service
Requires=mpd.service

[Service]
Type=simple
ExecStart=/home/tangleroot013/home-data/github_projects/ez_jukebox/scripts/ez_notify.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
